<form ng-submit="vm.submit()" class="ForgotPassword-form">
    <div class="callout callout-danger" ng-if="vm.errorTrigger">
        <h4>Error:</h4>
        <p>Please check your email and try again.</p>
    </div>
    <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Please enter your email address" ng-model="vm.email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
    </div>
</form>
