language: php

php:
  - 5.6
  - 7.0
  - hhvm

sudo: false

services:
  - mysql

before_install:
  - nvm install 5.1

before_script:
  - mysql -e 'create database laravel_test;'
  - export DB_DATABASE=laravel_test
  - export DB_USERNAME=travis
  - export DB_PASSWORD=
  - cp .env.travis .env
  - composer self-update
  - composer install --no-interaction
  - php artisan migrate --force
  - php artisan key:generate
  - npm install
  - bower install

script:
  - vendor/bin/phpunit
