<form ng-submit="vm.submit()">
    <div ng-if="!vm.isValidToken" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
        <h4>{{alert.title}}</h4>
        <p>{{alert.msg}}</p>
    </div>
    <div ng-show="vm.isValidToken">
        <div class="form-group has-feedback">
            <input type="password" ng-model="vm.password" class="form-control" placeholder="Please enter your new password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" ng-model="vm.password_confirmation" class="form-control" placeholder="Please confirm your new password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
            </div>
        </div>
    </div>
</form>

