<section class="content-header">
    <h1>Blank page <small>it all starts here</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Title</h3>
            <div class="box-tools pull-right">
                <a ui-sref="app.userrolesadd" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
        <div class="box-body">
             <table datatable="" width="100%"  class="table table-striped table-bordered"
                ng-if="vm.displayTable"
                dt-options="vm.dtOptions"
                dt-columns="vm.dtColumns"></table>
        </div>
        <div class="box-footer">
            Footer
        </div>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->