<div class="register-box">
  <div class="register-logo">
    <a ui-sref="login"><b>Admin</b>LTE</a>
  </div>
  <div class="register-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Create a new account</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <register-form></register-form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="login">I already have an account</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        By signing up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Privacy Policy</a>.
      </div>
    </div>
  </div>
</div>
